Package: wkhtmltox
Version: 1:0.12.6.1-2.jammy
License: LGPLv3
Vendor: wkhtmltopdf
Architecture: arm64
Maintainer: Ashish Kulkarni <ashish@kulkarni.dev>
Installed-Size: 132346
Depends: ca-certificates, fontconfig, libc6, libfreetype6, libjpeg-turbo8, libpng16-16, libssl3, libstdc++6, libx11-6, libxcb1, libxext6, libxrender1, xfonts-75dpi, xfonts-base, zlib1g
Conflicts: wkhtmltopdf
Provides: wkhtmltopdf
Replaces: wkhtmltopdf
Section: utils
Priority: extra
Homepage: https://wkhtmltopdf.org/
Description: convert HTML to PDF and various image formats using QtWebkit
